bundles/dpwsGW/tags/releases/ABB/20110314/NodeDiscovery_MS/NodeDiscovery/Eventing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xsi:schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/eventing wse.xsd" targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/eventing">
      <xs:include schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/eventing/eventing.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SubscribeMsg">
    <wsdl:part name="body" element="wse:Subscribe" />
  </wsdl:message>
  <wsdl:message name="SubscribeResponseMsg">
    <wsdl:part name="body" element="wse:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="RenewMsg">
    <wsdl:part name="body" element="wse:Renew" />
  </wsdl:message>
  <wsdl:message name="RenewResponseMsg">
    <wsdl:part name="body" element="wse:RenewResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusMsg">
    <wsdl:part name="body" element="wse:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusResponseMsg">
    <wsdl:part name="body" element="wse:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeMsg">
    <wsdl:part name="body" element="wse:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="UnsubscribeResponseMsg" />
  <wsdl:message name="SubscriptionEnd">
    <wsdl:part name="body" element="wse:SubscriptionEnd" />
  </wsdl:message>
  <wsdl:message name="Identifier">
    <wsdl:part name="Identifier" element="wse:Identifier" />
  </wsdl:message>
  <wsdl:portType name="EventSource">
    <wsdl:operation name="SubscribeOp">
      <wsdl:input wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe" message="wse:SubscribeMsg" />
      <wsdl:output wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscribeResponse" message="wse:SubscribeResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionEnd">
      <wsdl:output wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscriptionEnd" message="wse:SubscriptionEnd" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SubscriptionManager">
    <wsdl:operation name="RenewOp">
      <wsdl:input wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Renew" message="wse:RenewMsg" />
      <wsdl:output wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/RenewResponse" message="wse:RenewResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusOp">
      <wsdl:input wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatus" message="wse:GetStatusMsg" />
      <wsdl:output wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatusResponse" message="wse:GetStatusResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeOp">
      <wsdl:input wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe" message="wse:UnsubscribeMsg" />
      <wsdl:output wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/UnsubscribeResponse" message="wse:UnsubscribeResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventSourceSOAP" type="wse:EventSource">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeOp">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionEnd">
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscriptionManagerSOAP" type="wse:SubscriptionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RenewOp">
      <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/RenewOp" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOp">
      <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatusOp" />
      <wsdl:input>
        <soap:header message="wse:Identifier" part="Identifier" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeOp">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:header message="wse:Identifier" part="Identifier" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventingService">
    <wsdl:port name="SubscriptionManagerSOAPPort" binding="wse:SubscriptionManagerSOAP">
      <soap:address location="/" />
    </wsdl:port>
    <wsdl:port name="EventSourceSOAPPort" binding="wse:EventSourceSOAP">
      <soap:address location="/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>