bundles/dpwsGW/trunk/NodeDiscovery_reflection/NodeDiscovery/Service References/VLinkStreaming/StreamingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.teco.edu/VLink/StreamingService" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" name="StreamingService" targetNamespace="http://www.teco.edu/VLink/StreamingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.teco.edu/VLink/StreamingService">
      <xsd:annotation>
        <xsd:appinfo>
          <UnitSet xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18">
            <Unit xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18" xml:id="U_mm.s-2">
              <UnitSystem name="SI" type="SI_derived" xml:lang="en-US" />
              <UnitName xml:lang="en-US">
													millimeter per second squared
												</UnitName>
              <UnitSymbol type="HTML">
													mm · s
													<sup>-2</sup></UnitSymbol>
              <RootUnits>
                <EnumeratedRootUnit unit="meter" prefix="m" />
                <EnumeratedRootUnit unit="second" powerNumerator="-2" />
              </RootUnits>
            </Unit>
          </UnitSet>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="Sample">
        <xsd:annotation>
          <xsd:documentation>
									MicroStrain V-Link Sensor Sample
									4 differential readings
									3 single-ended readings
									1 internal temperature sensor reading
			
			
			
									http://www.microstrain.com/product_datasheets/V-Link-mXRS_Data_Sheet.pdf
								</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="delta" type="xsd:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential1" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential2" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential3" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential4" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single1" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single2" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single3" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="temperature" type="xsd:float" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MeasurementSeries">
        <xsd:annotation>
          <xsd:documentation>
			                            Series of measurements
			                        </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:nonNegativeInteger" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="delta" type="xsd:duration" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="sample" type="tns:Sample" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LDCInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="rate">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="500" />
                <xsd:enumeration value="250" />
                <xsd:enumeration value="100" />
                <xsd:enumeration value="50" />
                <xsd:enumeration value="25" />
                <xsd:enumeration value="10" />
                <xsd:enumeration value="5" />
                <xsd:enumeration value="2" />
                <xsd:enumeration value="1" />
                <xsd:enumeration value="1/2" />
                <xsd:enumeration value="1/5" />
                <xsd:enumeration value="1/10" />
                <xsd:enumeration value="1/30" />
                <xsd:enumeration value="1/60" />
                <xsd:enumeration value="1/120" />
                <xsd:enumeration value="1/300" />
                <xsd:enumeration value="1/600" />
                <xsd:enumeration value="1/1800" />
                <xsd:enumeration value="1/3600" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="duration" type="xsd:nonNegativeInteger" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="series" type="tns:MeasurementSeries" />
      <xsd:element name="ldcinfo" type="tns:LDCInfo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StreamingServiceEventMessageOut">
    <wsdl:part name="event" element="tns:series" />
  </wsdl:message>
  <wsdl:message name="StartLDCMessageIn">
    <wsdl:part name="in" element="tns:ldcinfo" />
  </wsdl:message>
  <wsdl:message name="StartLDCMessageOut" />
  <wsdl:portType wse:EventSource="true" name="StreamingService">
    <wsdl:operation name="StreamingServiceEvent">
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/StreamingService/StreamingServiceEventOut" message="tns:StreamingServiceEventMessageOut" />
    </wsdl:operation>
    <wsdl:operation name="StartLDC">
      <wsdl:input wsa:Action="http://www.teco.edu/VLink/StreamingService/StartLDCIn" message="tns:StartLDCMessageIn" />
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/StreamingService/StartLDCOut" message="tns:StartLDCMessageOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StreamingServiceSOAP" type="tns:StreamingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StreamingServiceEvent">
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartLDC">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreamingService">
    <wsdl:port name="StreamingService" binding="tns:StreamingServiceSOAP">
      <soap:address location="http://localhost:8080" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>