bundles/dpwsGW/tags/releases/PSE/contrib/ws4d-gsoap/src/samples/ms-iop/EventingService.wsdl

<wsdl:definitions 
	targetNamespace="http://schemas.example.org/EventingService" 
	xmlns:tns="http://schemas.example.org/EventingService"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdp="http://docs.oasis-open.org/ws-dd/dpws/2008/09" 
	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" 
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" >

	<wsp:Policy wsu:Id="Eventing" >
		<wsdp:Profile />
		<wsdp:PushDelivery />
		<wsdp:DurationExpiration />
		<wsdp:ActionFilter />
	</wsp:Policy>


	<wsdl:types>
		<xs:schema 
		  targetNamespace="http://schemas.example.org/EventingService"
		  xmlns:tns="http://schemas.example.org/EventingService" 
		  xmlns:xs="http://www.w3.org/2001/XMLSchema"
		  elementFormDefault="qualified" 
		  blockDefault="#all">
			<xs:element name="SimpleEvent" type="tns:SimpleEventType" />
			<xs:complexType name="SimpleEventType">
                <xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded"
							namespace="##other" processContents="lax" />
                </xs:sequence>
            </xs:complexType>

			<xs:element name="IntegerEvent" type="tns:IntegerEventType" />
			<xs:complexType name="IntegerEventType">
				<xs:sequence>
					<xs:element name="Param" type="xs:int" />
					<xs:any minOccurs="0" maxOccurs="unbounded"
							namespace="##other" processContents="lax" />
				</xs:sequence>
				<xs:anyAttribute namespace="##other" processContents="lax" />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="SimpleEventMessageOut">
		<wsdl:part name="parameters" element="tns:SimpleEvent" />
	</wsdl:message>
	<wsdl:message name="IntegerEventMessageOut">
		<wsdl:part name="parameters" element="tns:IntegerEvent" />
	</wsdl:message>

	<wsdl:portType name="EventingService" wse:EventSource="true" >
		<wsdl:operation name="SimpleEvent">
			<wsdl:output
			  message="tns:SimpleEventMessageOut"
			  wsa:Action="http://schemas.example.org/EventingService/SimpleEvent"/>
		</wsdl:operation>
		<wsdl:operation name="IntegerEvent">
			<wsdl:output
			  message="tns:IntegerEventMessageOut"
			  wsa:Action="http://schemas.example.org/EventingService/IntegerEvent"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EventingServiceSoap12Binding" type="tns:EventingService">
		<wsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#Eventing" wsdl:required="true" />
		<wsdl:operation name="SimpleEvent">
			<wsoap:operation
			  soapAction="http://schemas.example.org/EventingService/SimpleEvent" />
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IntegerEvent">
			<wsoap:operation
			  soapAction="http://schemas.example.org/EventingService/IntegerEvent" />
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>
