bundles/dpwsGW/tags/releases/PSE/DPWSExample/src/uPart.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.teco.edu/uPart" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"

	xmlns:wsa_="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"

	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"

	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:upart="http://www.teco.edu/uPart" name="SensorValues"
	
	targetNamespace="http://www.teco.edu/uPart">

	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://www.teco.edu/uPart" xmlns="http://www.w3.org/2001/XMLSchema">	
			
			<complexType name="uPartSample">
				<annotation>
					<documentation>
						Single Sample with sensors enabled according to
						configuration
					</documentation>
				</annotation>

				<sequence>
					<element name="Info" type="tns:InfoType"></element>
					<element name="Config" type="tns:ConfigType"></element>
					
					
					<element name="Sensors" type="tns:SensorType"
						minOccurs="1" maxOccurs="1">
					</element>

				</sequence>
			</complexType>
		
            <complexType name="SensorType">
            <sequence>
            <element name="Voltage" minOccurs="1"
						maxOccurs="1">

						<simpleType>
							<restriction base="unsignedByte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="255"></maxInclusive>
							</restriction>
						</simpleType>
            </element>
					<element name="Movement" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="unsignedByte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="255"></maxInclusive>
							</restriction>
						</simpleType>
					</element>
					<element name="Temperature" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="unsignedByte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="255"></maxInclusive>
							</restriction>
						</simpleType>
					</element>
					<element name="Light" minOccurs="1" maxOccurs="1">
						<simpleType>
							<restriction base="unsignedByte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="255"></maxInclusive>
							</restriction>
						</simpleType>
					</element>
					</sequence>
					</complexType>
        
            <complexType name="InfoType">
            	<sequence>
            		<element maxOccurs="1" minOccurs="1" name="tb">
						<simpleType>
							<restriction base="byte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="7"></maxInclusive>
							</restriction>
						</simpleType>
            		</element>
					<element maxOccurs="1" minOccurs="1" name="fs">
						<simpleType>
							<restriction base="byte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="7"></maxInclusive>
							</restriction>
						</simpleType>
					</element>
					<element maxOccurs="1" minOccurs="1" name="ver">
						<simpleType>
							<restriction base="byte">
								<minInclusive value="0"></minInclusive>
								<maxInclusive value="3"></maxInclusive>
							</restriction>
						</simpleType>
					</element>
            	</sequence>
            </complexType>
            
            <complexType name="ConfigType">
            	<sequence>
            		<element maxOccurs="1" minOccurs="1"
						name="sensor1" type="tns:sensorEnumType">
            		</element>
					<element maxOccurs="1" minOccurs="1"
						name="sensor2" type="tns:sensorEnumType">
					</element>
					<element name="dutyCycle" minOccurs="1"
						maxOccurs="1">
						<simpleType>
							<restriction base="unsignedByte">
								<minExclusive value="0"></minExclusive>
								<maxExclusive value="255"></maxExclusive>
							</restriction>
						</simpleType>
					</element>
            	</sequence>
            </complexType>
            
            <element name="Sample" type="tns:uPartSample"/>
			
            <simpleType name="sensorEnumType">
            	<restriction base="byte">
            		<minInclusive value="0"></minInclusive>
            		<maxInclusive value="15"></maxInclusive>
            	</restriction>
            </simpleType>
		</schema>
	</wsdl:types>


	<wsdl:message name="SensorValuesEventMessageOut">
		<wsdl:part name="event" element="upart:Sample" />
	</wsdl:message>

	<wsdl:portType name="SensorValues" wse:EventSource="true">

		<wsdl:operation name="SensorValuesEvent">
			<wsdl:output message="tns:SensorValuesEventMessageOut"
				wsa:Action="http://www.teco.edu/uPart/SensorValuesEventOut" />
		</wsdl:operation>


	</wsdl:portType>

	<wsdl:binding name="SensorValuesSOAP" type="tns:SensorValues">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SensorValuesEvent">
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SensorValues">
		<wsdl:port name="SensorValues" binding="tns:SensorValuesSOAP">
			<wsoap12:address location="http://localhost:8080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
