bundles/dpwsGW/tags/releases/ABB/20110126/NodeDiscovery_MS/NodeDiscovery/Service References/AccelerationModel/AccelerationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.teco.edu/AccelerationService" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" name="AccelerationService" targetNamespace="http://www.teco.edu/AccelerationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.teco.edu/AccelerationService">
      <xsd:annotation>
        <xsd:appinfo>
          <UnitSet xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18">
            <Unit xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18" xml:id="U_mm.s-2">
              <UnitSystem name="SI" type="SI_derived" xml:lang="en-US" />
              <UnitName xml:lang="en-US">
                millimeter per second squared
              </UnitName>
              <UnitSymbol type="HTML">
                mm · s
                <sup>-2</sup></UnitSymbol>
              <RootUnits>
                <EnumeratedRootUnit unit="meter" prefix="m" />
                <EnumeratedRootUnit unit="second" powerNumerator="-2" />
              </RootUnits>
            </Unit>
          </UnitSet>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="ADXL210_Sample">
        <xsd:annotation>
          <xsd:documentation>
            Analog Devices ADXL210 Low-Cost Â±10 g Dual-Axis
            Accelerometer with Duty Cycle

            (z-output from optional orthogonally mounted
            second device)



            http://www.analog.com/static/imported-files/data_sheets_obsolete/OBSOLETE%20WATERMARK/ADXL210.pdf
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="x" type="xsd:float" />
          <xsd:element name="y" type="xsd:float" />
          <xsd:element name="z" type="xsd:float" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccelerationSample">
        <xsd:annotation>
          <xsd:documentation>
            Acceleration Sample
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="delta" type="xsd:duration" />
          <xsd:element minOccurs="1" maxOccurs="1" name="accl" type="tns:ADXL210_Sample" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccelerationSeries">
        <xsd:annotation>
          <xsd:documentation>
            Series of measurements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="sample" type="tns:AccelerationSample" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="series" type="tns:AccelerationSeries" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccelerationServiceEventMessageOut">
    <wsdl:part name="event" element="tns:series" />
  </wsdl:message>
  <wsdl:portType wse:EventSource="true" name="AccelerationService">
    <wsdl:operation name="AccelerationServiceEvent">
      <wsdl:output wsa:Action="http://www.teco.edu/AccelerationService/AccelerationServiceEventOut" message="tns:AccelerationServiceEventMessageOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccelerationServiceSOAP" type="tns:AccelerationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccelerationServiceEvent">
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccelerationService">
    <wsdl:port name="AccelerationService" binding="tns:AccelerationServiceSOAP">
      <soap:address location="http://localhost:8080" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>