bundles/dpwsGW/tags/releases/ABB/20110126/NodeDiscovery_MS/NodeDiscovery/Acceleration.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:tns="http://www.teco.edu/AccelerationService" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" 
                  xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccelerationService" targetNamespace="http://www.teco.edu/AccelerationService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"	targetNamespace="http://www.teco.edu/AccelerationService">
      <annotation>
        <appinfo>
          <UnitSet xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18">
            <Unit	xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18" xml:id="U_mm.s-2">
              <UnitSystem name="SI" type="SI_derived" xml:lang="en-US" />
              <UnitName xml:lang="en-US">
                millimeter per second squared
              </UnitName>
              <UnitSymbol type="HTML">
                mm &#183; s
                <sup>-2</sup>
              </UnitSymbol>
              <RootUnits>
                <EnumeratedRootUnit unit="meter" prefix="m" />
                <EnumeratedRootUnit unit="second" powerNumerator="-2" />
              </RootUnits>
            </Unit>
          </UnitSet>
        </appinfo>
      </annotation>
      <complexType name="ADXL210_Sample">
        <annotation>
          <documentation>
            Analog Devices ADXL210 Low-Cost ±10 g Dual-Axis
            Accelerometer with Duty Cycle

            (z-output from optional orthogonally mounted
            second device)



            http://www.analog.com/static/imported-files/data_sheets_obsolete/OBSOLETE%20WATERMARK/ADXL210.pdf
          </documentation>
        </annotation>
        <sequence>
          <element name="x" type="float">
          </element>
          <element name="y" type="float">
          </element>
          <element name="z" type="float">
          </element>
        </sequence>
      </complexType>

      <complexType name="AccelerationSample">
        <annotation>
          <documentation>
            Acceleration Sample
          </documentation>
        </annotation>

        <sequence>
          <element maxOccurs="1" minOccurs="1" name="delta" type="duration" />
          <element maxOccurs="1" minOccurs="1" name="accl" type="tns:ADXL210_Sample"/>
        </sequence>

      </complexType>

      <complexType name="AccelerationSeries">
        <annotation>
          <documentation>
            Series of measurements
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="count" type="int"/>
          <element maxOccurs="1" minOccurs="0" name="timestamp" type="dateTime"/>
          <element maxOccurs="unbounded" minOccurs="1" name="sample" type="tns:AccelerationSample"/>
        </sequence>
      </complexType>

      <element name="series" type="tns:AccelerationSeries" />

    </schema>
  </wsdl:types>

  <wsdl:message name="AccelerationServiceEventMessageOut">
    <wsdl:part name="event" element="tns:series" />
  </wsdl:message>

  <wsdl:portType name="AccelerationService" wse:EventSource="true">
    <wsdl:operation name="AccelerationServiceEvent">
      <wsdl:output message="tns:AccelerationServiceEventMessageOut"
          wsa:Action="http://www.teco.edu/AccelerationService/AccelerationServiceEventOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AccelerationServiceSOAP" type="tns:AccelerationService">
    <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccelerationServiceEvent">
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AccelerationService">
    <wsdl:port name="AccelerationService" binding="tns:AccelerationServiceSOAP">
      <wsoap12:address location="http://localhost:8080" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>