bundles/dpwsGW/tags/releases/PSE/contrib/ws4d-gsoap/src/samples/peer_tutorial/files/src/AirConditionerController.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions
	targetNamespace="http://www.ws4d.org/axis2/tutorial/AirConditionerControl"
	xmlns:tns="http://www.ws4d.org/axis2/tutorial/AirConditionerControl"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/">

	<wsdl:types>
		<xs:schema
			targetNamespace="http://www.ws4d.org/axis2/tutorial/AirConditionerControl"
			elementFormDefault="qualified" blockDefault="#all" xmlns:tns="http://www.ws4d.org/axis2/tutorial/AirConditionerControl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="ACStateType">
				<xs:sequence>
					<xs:element name="CurrentTemp" type="xs:int" />
					<xs:element name="TargetTemp" type="xs:int" />
					<xs:element name="DeviceId" type="xs:string"></xs:element>
					<xs:element name="ServiceId" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ACState" type="tns:ACStateType" />
			<xs:element name="TargetTemperature" type="xs:int" />

			<xs:complexType name="ACStateTypes">
				<xs:sequence>
					<xs:element name="States" type="tns:ACStateType" minOccurs="0" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
			</xs:complexType>

            <xs:element name="ACStates" type="tns:ACStateTypes"></xs:element>
        </xs:schema>
	</wsdl:types>

	<wsdl:message name="GetStatusMessageIn" />
	<wsdl:message name="GetStatusMessageOut">
		<wsdl:part name="parameters" element="tns:ACStates" />
	</wsdl:message>
	<wsdl:message name="SetTargetMessageIn">
		<wsdl:part name="parameters" element="tns:TargetTemperature" />
	</wsdl:message>
	<wsdl:message name="SetTargetMessageOut">
	</wsdl:message>

	<wsdl:portType name="ACControlService">
		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns:GetStatusMessageIn"
				wsa:Action="http://www.ws4d.org/axis2/tutorial/AirConditionerControl/GetStatusIn" />
			<wsdl:output message="tns:GetStatusMessageOut"
				wsa:Action="http://www.ws4d.org/axis2/tutorial/AirConditionerControl/GetStatusOut" />
		</wsdl:operation>
		<wsdl:operation name="SetTargetTemperature">
			<wsdl:input message="tns:SetTargetMessageIn"
				wsa:Action="http://www.ws4d.org/axis2/tutorial/AirConditionerControl/SetTargetTemperatureIn" />
			<wsdl:output message="tns:SetTargetMessageOut"
				wsa:Action="http://www.ws4d.org/axis2/tutorial/AirConditionerControl/SetTargetTemperatureOut" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ACControlServiceSoap12Binding" type="tns:ACControlService">
		<wsoap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStatus">
			<wsoap12:operation />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetTargetTemperature">
			<wsoap12:operation />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ACControlService">
		<wsdl:port name="ACControlPort" binding="tns:ACControlServiceSoap12Binding">
			<wsoap12:address location="" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>