NodeDiscovery_reflection/NodeDiscovery/Service References/VLinkDataLogging/DataLoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" xmlns:log="http://www.teco.edu/VLink/DataLoggingService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" name="DataLoggingService" targetNamespace="http://www.teco.edu/VLink/DataLoggingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.teco.edu/VLink/DataLoggingService">
      <xsd:annotation>
        <xsd:appinfo>
          <UnitSet xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18">
            <Unit xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18" xml:id="U_mm.s-2">
              <UnitSystem name="SI" type="SI_derived" xml:lang="en-US" />
              <UnitName xml:lang="en-US">
                                millimeter per second squared
                            </UnitName>
              <UnitSymbol type="HTML">
                                mm · s
                                <sup>-2</sup></UnitSymbol>
              <RootUnits>
                <EnumeratedRootUnit unit="meter" prefix="m" />
                <EnumeratedRootUnit unit="second" powerNumerator="-2" />
              </RootUnits>
            </Unit>
          </UnitSet>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="Sample">
        <xsd:annotation>
          <xsd:documentation>
									MicroStrain V-Link Sensor Sample
									4 differential readings
									3 single-ended readings
									1 internal temperature sensor reading
			
			
			
									http://www.microstrain.com/product_datasheets/V-Link-mXRS_Data_Sheet.pdf
								</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="delta" type="xsd:duration" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential1" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential2" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential3" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="differential4" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single1" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single2" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="single3" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="temperature" type="xsd:float" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MeasurementSeries">
        <xsd:annotation>
          <xsd:documentation>
			                            Series of measurements
			                        </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:nonNegativeInteger" />
          <xsd:element minOccurs="0" maxOccurs="1" name="timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="delta" type="xsd:duration" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="sample" type="log:Sample" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LoggingConfig">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="rate">
            <xsd:simpleType>
              <xsd:restriction base="xsd:nonNegativeInteger">
                <xsd:enumeration value="2048" />
                <xsd:enumeration value="1024" />
                <xsd:enumeration value="512" />
                <xsd:enumeration value="256" />
                <xsd:enumeration value="128" />
                <xsd:enumeration value="64" />
                <xsd:enumeration value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="duration" type="xsd:nonNegativeInteger" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SessionInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:nonNegativeInteger" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="series" type="log:MeasurementSeries" />
      <xsd:element name="loggingconfig" type="log:LoggingConfig" />
      <xsd:element name="sessioninfo" type="log:SessionInfo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataLoggingServiceEventMessageOut">
    <wsdl:part name="event" element="log:series" />
  </wsdl:message>
  <wsdl:message name="StartLoggingMessageIn">
    <wsdl:part name="in" element="log:loggingconfig" />
  </wsdl:message>
  <wsdl:message name="StartLoggingMessageOut" />
  <wsdl:message name="StartDownloadMessageIn" />
  <wsdl:message name="StartDownloadMessageOut" />
  <wsdl:message name="EraseMessageIn" />
  <wsdl:message name="EraseMessageOut" />
  <wsdl:message name="GetSessionCountMessageIn" />
  <wsdl:message name="GetSessionCountMessageOut">
    <wsdl:part name="out" element="log:sessioninfo" />
  </wsdl:message>
  <wsdl:portType wse:EventSource="true" name="DataLoggingService">
    <wsdl:operation name="DataLoggingServiceEvent">
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/DataLoggingService/DataLoggingServiceEventOut" message="log:DataLoggingServiceEventMessageOut" />
    </wsdl:operation>
    <wsdl:operation name="StartLogging">
      <wsdl:input wsa:Action="http://www.teco.edu/VLink/DataLoggingService/StartLoggingIn" message="log:StartLoggingMessageIn" />
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/DataLoggingService/StartLoggingOut" message="log:StartLoggingMessageOut" />
    </wsdl:operation>
    <wsdl:operation name="StartDownload">
      <wsdl:input wsa:Action="http://www.teco.edu/VLink/DataLoggingService/StartDownloadIn" message="log:StartDownloadMessageIn" />
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/DataLoggingService/StartDownloadOut" message="log:StartDownloadMessageOut" />
    </wsdl:operation>
    <wsdl:operation name="Erase">
      <wsdl:input wsa:Action="http://www.teco.edu/VLink/DataLoggingService/EraseIn" message="log:EraseMessageIn" />
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/DataLoggingService/EraseOut" message="log:EraseMessageOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionCount">
      <wsdl:input wsa:Action="http://www.teco.edu/VLink/DataLoggingService/GetSessionCountIn" message="log:GetSessionCountMessageIn" />
      <wsdl:output wsa:Action="http://www.teco.edu/VLink/DataLoggingService/GetSessionCountOut" message="log:GetSessionCountMessageOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataLoggingServiceSOAP" type="log:DataLoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataLoggingServiceEvent">
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartDownload">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartLogging">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Erase">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataLoggingService">
    <wsdl:port name="DataLoggingService" binding="log:DataLoggingServiceSOAP">
      <soap:address location="http://localhost:8080" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>