bundles/dpwsGW/trunk/NodeDiscovery_reflection/NodeDiscovery/VLink_Streaming.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.teco.edu/VLink/StreamingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreamingService" targetNamespace="http://www.teco.edu/VLink/StreamingService">
			
				<wsdl:types>
					<schema xmlns="http://www.w3.org/2001/XMLSchema"
						elementFormDefault="qualified"
						targetNamespace="http://www.teco.edu/VLink/StreamingService">	
						<annotation>
							<appinfo>
								<UnitSet xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18">
								<Unit
												xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.18"
												xml:id="U_mm.s-2">
												<UnitSystem name="SI"
													type="SI_derived" xml:lang="en-US" />
												<UnitName xml:lang="en-US">
													millimeter per second squared
												</UnitName>
												<UnitSymbol type="HTML">
													mm &#183; s
													<sup>-2</sup>
												</UnitSymbol>
												<RootUnits>
													<EnumeratedRootUnit unit="meter"
														prefix="m" />
													<EnumeratedRootUnit
														unit="second" powerNumerator="-2" />
												</RootUnits>
											</Unit>
								</UnitSet>
							</appinfo>
						</annotation>
						<complexType name="Sample">
							<annotation>
								<documentation>
									MicroStrain V-Link Sensor Sample
									4 differential readings
									3 single-ended readings
									1 internal temperature sensor reading
			
			
			
									http://www.microstrain.com/product_datasheets/V-Link-mXRS_Data_Sheet.pdf
								</documentation>
							</annotation>
			
							<sequence>
								<element maxOccurs="1" minOccurs="0"
									name="delta" type="duration" />
								<element maxOccurs="1" minOccurs="0"
									name="differential1" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="differential2" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="differential3" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="differential4" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="single1" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="single2" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="single3" type="float">
								</element>
								<element maxOccurs="1" minOccurs="0"
									name="temperature" type="float">
								</element>
							</sequence>
			
						</complexType>
			
							<complexType name="MeasurementSeries">
			                    <annotation>
			                        <documentation>
			                            Series of measurements
			                        </documentation>
			                    </annotation>
			                    <sequence>
			                        <element maxOccurs="1" minOccurs="1" name="count" type="nonNegativeInteger"/>
			                        <element maxOccurs="1" minOccurs="0" name="timestamp" type="dateTime"/>
			                        <element maxOccurs="1" minOccurs="1" name="delta" type="duration" />
			                        <element maxOccurs="unbounded" minOccurs="1" name="sample" type="tns:Sample"/>
			                   </sequence>
			                </complexType>
			
							<complexType name="LDCInfo">
								<sequence>
			                        <element maxOccurs="1" minOccurs="1" name="rate" >
										<simpleType>
											<restriction base="string"> 
												<enumeration value="500"/>"
												<enumeration value="250"/>"
												<enumeration value="100"/>"
												<enumeration value="50"/>"
												<enumeration value="25"/>"
												<enumeration value="10"/>"
												<enumeration value="5"/>"
												<enumeration value="2"/>"
												<enumeration value="1"/>"
												<enumeration value="1/2"/>"
												<enumeration value="1/5"/>"
												<enumeration value="1/10"/>"
												<enumeration value="1/30"/>"
												<enumeration value="1/60"/>"
												<enumeration value="1/120"/>"
												<enumeration value="1/300"/>"
												<enumeration value="1/600"/>"
												<enumeration value="1/1800"/>"
												<enumeration value="1/3600"/>"
											</restriction>
										</simpleType>
									</element>
									<element maxOccurs="1" minOccurs="1" name="duration" type="nonNegativeInteger"/>
								</sequence>
							</complexType>
			
						<element name="series" type="tns:MeasurementSeries" />
						<element name="ldcinfo" type="tns:LDCInfo" />
			
					</schema>
				</wsdl:types>
			
				<wsdl:message name="StreamingServiceEventMessageOut">
					<wsdl:part name="event" element="tns:series" />
				</wsdl:message>
			
				<wsdl:message name="StartLDCMessageIn" >
					<wsdl:part name="in" element="tns:ldcinfo"></wsdl:part>
				</wsdl:message>
				<wsdl:message name="StartLDCMessageOut" />
			
				<wsdl:portType name="StreamingService" wse:EventSource="true">
					<wsdl:operation name="StreamingServiceEvent">
						<wsdl:output message="tns:StreamingServiceEventMessageOut"
							wsa:Action="http://www.teco.edu/VLink/StreamingService/StreamingServiceEventOut" />
					</wsdl:operation>
					<wsdl:operation name="StartLDC">
						<wsdl:input message="tns:StartLDCMessageIn"
							wsa:Action="http://www.teco.edu/VLink/StreamingService/StartLDCIn" />
						<wsdl:output message="tns:StartLDCMessageOut"
							wsa:Action="http://www.teco.edu/VLink/StreamingService/StartLDCOut" />
					</wsdl:operation>
				</wsdl:portType>
			
				<wsdl:binding name="StreamingServiceSOAP" type="tns:StreamingService">
					<soap:binding style="document"
						transport="http://schemas.xmlsoap.org/soap/http" />
					<wsdl:operation name="StreamingServiceEvent">
						<wsdl:output>
							<soap:body use="literal" />
						</wsdl:output>
					</wsdl:operation>
					<wsdl:operation name="StartLDC">
						<wsdl:input>
							<soap:body use="literal" />
						</wsdl:input>
						<wsdl:output>
							<soap:body use="literal" />
						</wsdl:output>
					</wsdl:operation>
			  </wsdl:binding>
			
				<wsdl:service name="StreamingService">
					<wsdl:port name="StreamingService" binding="tns:StreamingServiceSOAP">
						<wsoap12:address location="http://localhost:8080" />
					</wsdl:port>
				</wsdl:service>
			</wsdl:definitions>