ABB/110902/NodeDiscovery_reflection/NodeDiscovery/DeviceInfo.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:dis="http://www.teco.edu/DeviceInfoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeviceInfoService" targetNamespace="http://www.teco.edu/DeviceInfoService">
    
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://www.teco.edu/DeviceInfoService">	
            <complexType name="StatusMessage">
                <annotation>
                    <documentation>
                        Node status
                    </documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="description" type="string"/>
                    <element maxOccurs="1" minOccurs="1" name="ready" type="boolean"/>
                </sequence>
            </complexType>
            
            <element name="status" type="dis:StatusMessage" />
            
        </schema>
    </wsdl:types>
    
    <wsdl:message name="StopNodeMessageIn" />
    <wsdl:message name="StopNodeMessageOut" />
    
    <wsdl:message name="GetNodeStatusMessageIn" />
    <wsdl:message name="GetNodeStatusMessageOut">
        <wsdl:part name="out" element="dis:status" />
    </wsdl:message>
    
    <wsdl:portType name="DeviceInfoService" >
        <wsdl:operation name="StopNode">
            <wsdl:input message="dis:StopNodeMessageIn"
                wsa:Action="http://www.teco.edu/DeviceInfoService/StopNodeIn" />
            <wsdl:output message="dis:StopNodeMessageOut"
                wsa:Action="http://www.teco.edu/DeviceInfoService/StopNodeOut" />
        </wsdl:operation>
        
        <wsdl:operation name="GetNodeStatus">
            <wsdl:input message="dis:GetNodeStatusMessageIn"
                wsa:Action="http://www.teco.edu/DeviceInfoService/GetNodeStatusIn" />
            <wsdl:output message="dis:GetNodeStatusMessageOut"
                wsa:Action="http://www.teco.edu/DeviceInfoService/GetNodeStatusOut" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DeviceInfoServiceSOAP" type="dis:DeviceInfoService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetNodeStatus">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StopNode">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DeviceInfoService">
        <wsdl:port name="DeviceInfoService" binding="dis:DeviceInfoServiceSOAP">
            <wsoap12:address location="http://localhost:8080" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>