bundles/dpwsGW/tags/releases/ABB/110712/NodeDiscovery_reflection/NodeDiscovery/SensorValues_FH.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<wsdl:definitions targetNamespace="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues" name="SensorValues" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2006/05/addressing/wsdl">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Series" type="tns:Series" />
      <xs:complexType name="Fragment">
        <xs:sequence>
          <xs:element name="count" minOccurs="0" type="xs:byte" />
          <xs:element name="delta_t" minOccurs="0" type="xs:duration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Series">
        <xs:sequence>
          <xs:element name="timeStamp" minOccurs="0" type="xs:dateTime" />
          <xs:element name="sample" maxOccurs="unbounded" type="tns:Sample" />
          <xs:element name="fragment" minOccurs="0" type="tns:Fragment" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Config" type="tns:Configuration" />
      <xs:complexType name="Configuration" />
      <xs:complexType name="SHT7x_Sample">
        <xs:sequence>
          <xs:element name="value" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sample">
            <xs:sequence>
              <xs:element name="Temperature" minOccurs="0" type="tns:SHT7x_Sample" />
              <xs:element name="delta_t" minOccurs="0" type="xs:duration" />
            </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SensorConfigurationType">
        <xs:complexContent>
          <xs:extension base="tns:Configuration">
            <xs:sequence>
              <xs:any/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetSensorValuesMessageIn" />
  <wsdl:message name="GetSensorValuesMessageOut">
    <wsdl:part name="out" element="tns:Series" />
  </wsdl:message>
  <wsdl:message name="Empty" />
  <wsdl:message name="ConfigRequest">
    <wsdl:part name="in" element="tns:Config" />
  </wsdl:message>
  <wsdl:message name="ConfigResponse">
    <wsdl:part name="out" element="tns:Config" />
  </wsdl:message>
  <wsdl:portType name="SensorValues">
    <wsdl:operation name="GetSensorValues">
      <wsdl:input message="tns:GetSensorValuesMessageIn" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/GetSensorValuesIn"  />
      <wsdl:output message="tns:GetSensorValuesMessageOut" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/GetSensorValuesOut"  />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input message="tns:Empty" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/GetConfigRequest"  />
      <wsdl:output message="tns:ConfigResponse" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/GetConfigResponse"  />
    </wsdl:operation>
    <wsdl:operation name="SetConfig">
      <wsdl:input message="tns:ConfigRequest" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/SetConfigRequest"  />
      <wsdl:output message="tns:ConfigResponse" wsa:Action="http://www.iis.fraunhofer.de/kom/abt/wsn/SensorValues/SetConfigResponse"  />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorValuesSOAP" type="tns:SensorValues">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSensorValues">
      <soap:operation />
      <wsdl:input>
        <soap:body  use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <soap:operation />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfig">
      <soap:operation />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SensorValues">
    <wsdl:port binding="tns:SensorValuesSOAP" name="SensorValues"/>
  </wsdl:service>
</wsdl:definitions>